* {
    color: black(120, 82, 82);
    text-align: center;
}

div{
    height: 170px;
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 10%;
    background-color: black;
}

img {
    margin-top: 1rem;
    height: 120px;
    width: 120px;
}

p {
    color: cornflowerblue;
}
